@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Satisfy&display=swap');


html,body{
  display: flex;
  margin:0;
  padding: 0;
  overflow: hidden;
  bottom:0;
  top:0;
  width:100%;
  height:100vh;
}

.upperSide{
  display: flex;
  position: absolute;
  width: 100%;
  height:10%;
  background-color: rgb(43, 41, 41);
  z-index: 10;
  border-color: aliceblue;
}

.time{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  color: white;
position: absolute;
  right: 0;
  align-content: center;
  align-self: center;
  align-items: center;
  right:15px;
 
}

.search{
  height:100%;
  width:25%;
  display: flex;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  position: relative;
  text-align: center;
  top:center;
  margin-right: auto;
}
.search-in{
  
  align-items: center;
  align-self: center;
  background-color: rgb(84, 87, 87);
  border-color: rgb(100, 103, 103);
  border-radius: 30px;

}

.logo{
  position: fixed;
  left:15px;
  top:15px;
  display: flex;
  justify-content: flex-end;
}

.text {
  width:100%;
  height:100vh;
 
  font-family: 'Blaka';
  position: absolute;
  
  color: white;

  font-family: 'Satisfy', cursive;
  
  width:100%;
  bottom:0;
  top:0;
  left: 0;
  right:0;
  font-size:x-large;
  
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.text1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  
  background-image: url("../src/assets/img1.jpeg");

  width:20%;
  height:100vh;
}
.text2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  
  background-image: url("../src/assets/img2.jpg");
  background-size: cover;
  width:20%;
  height:100vh;
}

.text3{
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url("../src/assets/img3.jpeg");
  background-repeat: no-repeat;
  background-position:  center;
 
  width:20%;
  height:100vh;
}

.text4{
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../src/assets/img4.jpeg");

  width:20%;
  height:100vh;
}

.text5{
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../src/assets/img5.jpeg");

  width:20%;
  height:100vh;
}



@media (max-width: 480px){
  .text{
    
    flex-direction: column;
    overflow: hidden;
    background-position:center;
    
  }
  .text div{
    width: 100vh;
    }

  
}
  
